{% extends 'base.html.twig' %}

{% block title %}Zařízení{% endblock %}

{% block body %}
    <h1>Seznam zařízení</h1>
    
    <a href="{{ path('route_to_device_list') }}" class="btn btn-primary">Zařízení</a>
    
    <!-- Obsah seznamu zařízení  -->
    <div>
        <!-- Tady může být tabulka nebo seznam zařízení -->
    </div>
{% endblock %}

