{% extends 'base.html.twig' %}

{% block title %}Upravit zařízení{% endblock %}

{% block body %}
    <h1>Upravit zařízení</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Uložit změny</button>
    {{ form_end(form) }}

    <a href="{{ path('route_to_device_list') }}" class="btn btn-secondary">Zpět na seznam</a>
{% endblock %}
